body {
  background-image: linear-gradient(
    to right top,
    #c292f9,
    #b891f3,
    #ae91ec,
    #a58fe5,
    #9c8ede
  );
  font-family: "helvetica neue";
  width: 100wh;
  height: 100vh;
}

h1 {
  color: #fff;
  padding: 15px;
  font-size: 35px;
}
form#newItem {
  display: flex;
  justify-content: space-evenly;
}

.box {
  max-width: 500px;
  margin: 150px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.heading {
  height: 70px;
  text-align: center;
  position: relative;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: linear-gradient(
    to right top,
    #9f64e0,
    #8c64d7,
    #7b63cc,
    #6b61c1,
    #5c5eb5
  );
}

.listItem {
  min-height: 70px;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
}
.newItem {
  min-height: 70px;
  display: flex;
}

.deleteBtn {
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.addBtn {
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

p {
  width: 380px;
  margin: 0;
  padding: 20px;
  font-size: 27px;
  font-weight: 200;
  color: #1f2d3c;
}

button {
  background: none;
  padding: 0px;
  border: none;
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;

  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

.fas {
  color: #5b5d69;
}
.fas:hover {
  color: #5c5eb5;
  transition-duration: 0.4s;
  transform: scale(1.5);
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 27px;
  font-family: "helvetica neue";
  font-weight: 200;
  width: 225px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #9ec4ec;
}

::placeholder {
  color: #dedee6;
  opacity: 1;
}
